*{
    margin: 0;
    text-decoration: none;
    font-family: FigTree;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:hsl(47, 88%, 63%);
}

.container{
    box-sizing: border-box;
    padding:2%;
    background-color: white;
}

.image-container{
    outline:1px solid red;
    display:flex;
    justify-content: center;
}

@media screen and (max-width: 375px){
    
}